<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="assets/images/logo-hop-amenagement-durable-page.png" alt="Logo {{ site.title }}" width="200px"></a>
    
    {% comment %}
    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    {% endcomment %}

  </div>

</header>
