<header class="site-header">
  <nav class="site-nav">
    {% for my_page in site.pages %}
      {% if my_page.title %}
      {% if my_page.group == 'navigation' %}
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
  <div class="wrapper">
    <div class="site-title">
      <a class="site-logo" href="{{ site.baseurl }}/"><img src="assets/images/logo-hop-amenagement-durable-page.png" alt="Logo {{ site.title }}"></a>
      <p>Un nouveau regard sur l'aménagement du territoire</p>
    </div>
  </div>
</header>