---
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

// Base
@import "base/normalize";

// Configuration
@import "config/colors";
@import "config/mediaqueries";
@import "config/typography";

@import "base/base";
@import "base/layout";
@import "base/font";
@import "base/form";

// Tool
@import "tool/utilities";

// Generic
@import "generic/broken-images";
@import "generic/normalize-opentype";
@import "generic/print";

// Object
//@import "object/header";
//@import "object/pagination";
//@import "object/posts";


body,html {
  height: 100%;
}

.site-header {
  background: mix(white, $color-primary, 95%);
  // background: linear-gradient(to right, mix(white, $color-primary, 70%) 0%, mix(white, $color-primary, 60%) 25%, mix(white, $color-primary, 55%) 71%, mix(white, $color-primary, 50%) 100%);
  background: radial-gradient( farthest-side ellipse at top left, mix(white, $color-primary, 35%), mix(black, $color-primary, 10%));
  .wrapper {
    padding: 4vw 0 5vw; 
  }
  img {
    width: 100%;
  }
}

.site-title {
  @media #{$medium-up} {
    display: flex;
    align-items: center;
  }
  margin: 2rem 1vw 1rem;
  @extend h2;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
  @media #{$medium-up} {
    display: flex;
    align-items: center;
  }
}

.site-logo {
  display: inline-block;
  margin: -3rem auto $base-line;
  min-width: 7em; 
  max-width: 12em; 
}

.site-nav {
  padding: $base-line/2 $base-line;
  width: 100%;
  text-align: right;
  background: #333;
  ul {
    list-style-type: none;
  }
  a {
    color: #fff;
    font-weight: bold;
    font-size: $small;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

section {
  border-top: 25px solid #cecece;
  &.center {
    text-align: center;
    ul,ol {
      margin: auto;
    }
  }
  .section_content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 2vw 1vw 5vw;
    width: 100%;
    max-width: 35em;
  }
  
  > :last-child {
    margin-bottom: auto;
  }
  &:first-child {
    img {
      margin: 0 auto !important;
      max-width: 30rem;
      width: 100%;
    }
  }
  h2 {
    color: palette(primary,dark);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  }
  img {
    width: 100%;
  }
  ul,ol {
    display: inline-block;
    text-align: left;
    //max-width: 50rem;
    margin: 1rem 0;
    padding: 0;
    li {
      list-style-position: inside;
      margin: 0;
      padding: $base-line/2 $base-line;
      width: 100%;
      color: #333 !important;
      font-weight: bold;
      background: $color-primary;
      border: 3px solid #fff;
    }
  }
  &:nth-child(2n) {
    background: #222;
    border-color: #444;
    h1,h2,h3,h4,p,label,ol,ul,li {
      color: #fff;
    }
    .button {
      &,&:visited {
        color: #000;
        background: $color-primary;
      }
      &:hover {
        background: darken($color-primary, 10%);
      }
    }
    ul,ol {
      li {
        color: #333 !important;
        border: 3px solid #333;
        background: #fff;
      }
    }
  }
  &.section-schema {
    text-align: center;
    img {
      margin: 0 auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.button {
  &,&:visited {
    display: inline-block;
    margin: auto; 
    padding: 0.7rem 1rem 0.5rem;
    max-width: 25rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background: #333;
    border-radius: 5px;
    transform: 0.1s ease all;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    background: darken(#000, 10%);
  }
  &--action {
    &,&:visited {
      color: #000;
      background: $color-primary;
    }
    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}

section .bottom {
  position: absolute;
  right: 5vw;
  bottom: 0;
  padding-bottom: 50px;
  font-size: 60%;
  text-align: center;
}

section .bottom:after {
  content: '';
  display: block;
  margin: 1em auto 0;
  width: 20px;
  height: 20px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
