////
/// Panels
////

section {
  h1 {
    font-size: $title1;
  }
  h2 {
    font-size: $bigger;
  }
  h3 {
    font-size: $bigger;
  }
  &.center {
    text-align: center;
    ul,ol {
      margin: auto;
    }
  }
  &.section_newsletter {
    border-top: 2px solid palette(primary,light);
  }
  &.section_header {
    position: relative;
    overflow: hidden;
  }
  .section_content {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 1vw 1vw 4vw;
    width: 100%;
    max-width: 35em;
  }
  .section_graph {
    margin: $base-line auto 0 !important;
    ul {
      @media #{$medium-up} {
        display: flex;
        flex-direction: column;
        float: left;
        margin: $base-line*1 0 0 !important;
        width: 49%;
        & + ul {
          float: right;
        }
      }
      padding: 0;
      list-style-type: none;
       
      li {
        display: flex;
        align-items: center;
        width: 100%;
        font-family: $base-font-family-title;
        min-height: 6em;
        text-align: left;
        svg {
          //max-width: 20%;
        }
      }
    }
  }
  
  > :last-child {
    margin-bottom: auto;
  }
  &:first-child {
    img {
      margin: 0 auto !important;
      max-width: 30rem;
      width: 100%;
    }
  }
  img {
    width: 100%;
  }
  .svg-size {
    display: block;
    float: left;
    max-width: 150px;
    width: 100%;
    height: 80px;
    margin-right: $base-line;
    &,g {
      fill: $color-secondary;
    }
  }
  ol {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    li {
      list-style-position: inside;
      margin: 0 0 $base-line/2;
      padding: 0;
      width: 100%;
      color: #333 !important;
      font-weight: bold;
      border-radius: 8px;
    }
  }
  ol {
    counter-reset: section;
    li {
      position: relative;
      padding: $base-line 0;
    }
  }
  strong {
    color: palette(secondary);
  }
  &.black {
    background: #111;
    h1,h2,h3,h4,p,label,ol,ul,li {
      color: #fff;
    }
    strong {
      color: $color-primary;
    }
    .button {
      &,&:visited {
        color: #fff;
        background: transparent;
        border-color: #fff;
      }
      &:hover {
        color: #000;
        background: #fff;
        border-color: #000; 
      }
    }
    ol {
      li {
        color: #fff !important;
      }
    }
    .svg-size {
      &,g {
        fill: $color-primary;
      }
    }
  }
  &.section-schema {
    text-align: center;
    img {
      margin: 0 auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}