////
/// Button
////

.button {
  &,&:visited {
    display: inline-block;
    margin: $base-line auto;
    padding: 0.7rem 1rem 0.5rem;
    width: 100%;
    max-width: 25rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    background: #000;
    transform: 0.5s ease all;
  }
  &:hover {
    text-decoration: none;
    color: #000;
    background: #fff;
  }
  &--action {
    &,
    &:visited {
      color: #000;
      background: $color-primary;
    }
    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}
