
@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-BoldItalic.eot');
    src: local('☺'), url('../fonts/NotoSerif-BoldItalic.woff') format('woff'), url('../fonts/NotoSerif-BoldItalic.ttf') format('truetype'), url('../fonts/NotoSerif-BoldItalic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-Bold.eot');
    src: local('☺'), url('../fonts/NotoSerif-Bold.woff') format('woff'), url('../fonts/NotoSerif-Bold.ttf') format('truetype'), url('../fonts/NotoSerif-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-Italic.eot');
    src: local('☺'), url('../fonts/NotoSerif-Italic.woff') format('woff'), url('../fonts/NotoSerif-Italic.ttf') format('truetype'), url('../fonts/NotoSerif-Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-Regular.eot');
    src: local('☺'), url('../fonts/fontsNotoSerif-Regular.woff') format('woff'), url('../fonts/NotoSerif-Regular.ttf') format('truetype'), url('../fonts/NotoSerif-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-Regular.eot');
    src: local('☺'), url('../fonts/NotoSans-Regular.woff') format('woff'), url('../fonts/NotoSans-Regular.ttf') format('truetype'), url('../fonts/NotoSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-Bold.eot');
    src: local('☺'), url('../fonts/NotoSans-Bold.woff') format('woff'), url('../fonts/NotoSans-Bold.ttf') format('truetype'), url('../fonts/NotoSans-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}


